[Unit]
Description=alertmanager service
After=network.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/usr/local/alertmanager/

ExecStart=/usr/local/alertmanager/alertmanager --web.listen-address=0.0.0.0:9093 \
   --cluster.listen-address=0.0.0.0:9094   --cluster.peer=172.31.8.202:9094

KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target

