[Unit]
Description=node_exporter
Documentation=https://prometheus.io/
After=network.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/usr/local/node_exporter/
ExecStart=/usr/local/node_exporter/node_exporter \
  --collector.ntp                                \
  --collector.mountstats                         \
  --collector.systemd                            \
  --collector.sysctl                             \
  --collector.ethtool                            \
  --collector.tcpstat
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
Restart=always

[Install]
WantedBy=multi-user.target
